{%extends 'admin_page/base.html' %}
    {%block content%}
                    <form name="form02" action="update_zone_form" method="get">
                       {%csrf_token%}
                        <div id="lab"><label for="fname">Zone ID* : </label>
                            <span><input type="text" id="firstname" name="zone" placeholder="Zone Id.." style="margin-top:1%;"></span>
                        </div>
    
                        <div id="lab"><label for="aadhar">Area* : </label>
                            <span><input type="text" id="aadhar" name="area" placeholder="Area.." style="margin-top:1%;"></span>
                        </div>
                        
			<div id="lab"><label for="address">Population* : </label>
                           <span><input type="text" id="address" name="pop" placeholder="Population.." style="margin-top:1%;"></span>
                        </div>
			<div class="message" style="color:red;text-align:center;margin-top:1.5%;margin-bottom:-1.5%;">{{message}}</div>

                        <input type="submit" value="Update" style="margin-top:3%;">
                    </form>
               {%endblock%}
