{%extends 'admin_page/base.html' %}
    {%block content%}
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-indigo" style="margin-top: 2%;margin-left: 5%;"><i class="fa fa-pencil-square-o"></i>Back To Admin Page</button>
                <table style="margin-left:5%;">
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
      <th>Aadhar No.</th>
    <th>Designation</th>
      <th>Class</th>
      <th>Phone</th>
      <th>Address</th>
	<th>Zone ID</th>
        <th>Division ID</th>
	<th>Email </th>
  </tr>
{% for employee in employee_list%}
  <tr>
	{%for x in employee%}
<td>{{x}}</td>
    {%endfor%}
  </tr>
   {%endfor%}     
</table>
    
{%endblock%}

